.navbar-centered {
  width: 100%;
  height: 67px;
  display: flex;
  position: relative;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.navbar-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.navbar-container {
  flex: 0 0 auto;
  width: 90px;
  height: 49px;
  display: flex;
  flex-direction: column;
}
.navbar-pasted-image {
  width: 77px;
  height: 48px;
}
.navbar-link {
  top: 24px;
  left: 97px;
  color: #064294;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-links {
  width: 417px;
  height: 33px;
  display: flex;
  align-items: center;
  margin-left: 60px;
  flex-direction: row;
}
.navbar-link1 {
  text-decoration: none;
}
.navbar-link2 {
  text-decoration: none;
}
.navbar-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-sign-in {
  margin-right: 20px;
}
.navbar-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.navbar-get-started:hover {
  background-color: #5228F5;
}
.navbar-text8 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.navbar-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
@media(max-width: 991px) {
  .navbar-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .navbar-links {
    display: none;
  }
  .navbar-sign-in {
    display: none;
  }
  .navbar-get-started {
    display: none;
  }
  .navbar-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navbar-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-left {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-right {
    margin-right: var(--dl-space-space-unit);
  }
  .navbar-sign-in {
    display: none;
  }
  .navbar-get-started {
    display: none;
  }
}
